.dashboard__screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
}

.dashboard__habit-tiles {
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}