.signup__screen {
  height: 100%;
  padding: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupScreen__form-container {
  width: 500px;
  height: 475px;
  padding: 50px 60px 70px 60px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.signupScreen__form-container h1 {
  color: #3488ce;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.signupScreen__form-container > form {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.signupScreen__form-container > form > div {
  display: flex;
  flex-direction: column;
}

.signupScreen__form-container > form > div > label {
  color: #fff;
} 

.signupScreen__form-container > form > div > input {
  padding: .7rem;
  border: solid 1px #3488ce;
  border-radius: 8px;
  margin-top: 3px;
  margin-bottom: 7px;
}

.signupScreen__form-container > form > div > button {
  padding: 10px 0;
  background-color: #3488ce;
  color: #fff;
  border: solid 2px #3488ce;
  border-radius: 8px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
  overflow: hidden;
  transition: .3s all ease;
  font-size: 1rem;
}

.signupScreen__form-container > form > div > button:hover {
  background-color: #28699e;
  border-color: #28699e;
  color: #fff;
}

#form__cancel-btn {
  padding: 10px 0;
  border: solid 1px #EF5350;
  color: #EF5350;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  transition: .3s all ease;
}

#form__cancel-btn:hover {
  background-color: #EF5350;
  color: #fff;
}

