.menu {
  width: 30vw;
  height: 100vh;
  background-color: #3488ce;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  transform: translateX(-100%);
  transition: all 700ms ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
/*  http://expressjs.com/en/resources/middleware/body-parser.html */
.menu.show {
  transform: translateX(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.menu__links > li {
  display: flex;
  align-items: center;
}

.menu__links > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  flex: 1;
  padding: 1rem;
}

.menu__links > li > a:hover {
  background-color: #fff;
  color: #3488ce;
}